*.class

# Package Files #
*.war
*.ear
bin/

# Eclipse #
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
out/
*.iml

# maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# logs #
*.log
logs/
*.lck

# FXGL #
saves/
profiles/
system/

# FXGL Tests #
testprofiles/
/progress.sav
