
/*
 *      Menu Button
 */

.platformer-menu-button-wrapper {
    -fx-rotate: -2;
    -fx-alignment: center-left;
}

.platformer-menu-button-wrapper:hover {
    -fx-translate-x: 10px;
}

.platformer-menu-button-wrapper:hover .platformer-menu-button {
    -fx-text-fill: black;
}

.platformer-menu-button-wrapper:hover .platformer-menu-button-background {
    -fx-fill: white;
}

.platformer-menu-button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-min-width: 350px;
    -fx-min-height: 40px;
}

.platformer-menu-button-background {
    -fx-fill: black;
    -fx-opacity: 0.6;
}

/*
 *	    Dialog FXGLButton
 */

.fxgl_button {
    -fx-min-height: 55px;
    -fx-padding: 5px 22px 5px 22px;
    -fx-border-width: 0;

    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-text-fill: #a9a9a9;

    /*-fx-border-insets: 5px;*/
    -fx-background-insets: 10px;
}

.fxgl_button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.fxgl_button:pressed, .fxgl_button:default:hover:pressed {
    -fx-background-color: rgba(97, 207, 232, 0.8);
    -fx-text-fill: white;
}

.fxgl_button:focused {
    -fx-border-color: gray;
}

.fxgl_button:disabled, .fxgl_button:default:disabled {
    -fx-opacity: 0.4;
    -fx-text-fill: #a9a9a9;
}